.myfamilytree {
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }

  .familynode-container {
    height: 89vh;
  }

  .save-icon-container {
    width: 40px;
    height: 40px;
    background-color: rgb(119, 201, 119);
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px;

      // &::after {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 20px;
      //   width: 100%;
      //   font-size: 13px;
      //   content: "save";
      //   text-align: center;
      //   color: rgb(39, 37, 37);
      // }
    }

    &:active {
      transform: scale(0.9);
    }

    span {
      display: inline-block;
      position: absolute;
      top: 20;
      left: 20;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.7s ease;

      &:hover {
        background-color: transparent;
      }
    }
  }

  .remove-icon-container {
    width: 40px;
    height: 40px;
    background-color: rgb(119, 201, 119);
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px;

      // &::after {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   height: 20px;
      //   width: 100%;
      //   font-size: 13px;
      //   content: "save";
      //   text-align: center;
      //   color: rgb(39, 37, 37);
      // }
    }

    &:active {
      transform: scale(0.9);
    }

    span {
      display: inline-block;
      position: absolute;
      top: 20;
      left: 20;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
      transition: all 0.7s ease;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
